.logo-default{
	height: 50px;
	width: auto;
	top:10px;
}

#footer_plantilla{
	background-color: rgba(0,0,0,0.8);
	color:white;
	min-height: 70px;
}

.galeria{
	list-style: none;
	padding:20px;
	box-sizing:border-box;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.galeria li{
	margin:5px;
}


.galeria img{
	width:250px;
	height: 150px;
}

.imagen_modal{
	visibility: hidden;
	opacity: 0;
}

.imagen_modal:target{
	visibility: visible;
	opacity: 1;
	transition:all 0.5s;
	position:fixed;
	background: rgba(0,0,0,0.8);
	top:50px;
	left:0;
	width:100%;
	height: 100%;
	z-index: 200;
}

.imagen_modal h3{
	color:#fff;
	font-size: 30px;
	text-align:center;
	margin:15px;
}

.imagen{
	width:100%;
	height: 70%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.imagen a{
	color:#fff;
	font-size: 40px;
	text-decoration: none;
	margin 0 10px;
}

.imagen a:nth-child(2){
	margin:0;
	height: 100%;
	flex-shrink:2;
}

.imagen img{
	width: 100%;
	height:100%;
	max-width: 100%;
	border:7px solid #fff;
	box-sizing:border-box;
}

.cerrar{
	display:block;
	background: #fff;
	width: 25px;
	height: 25px;
	margin: 15px auto;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color:black;
	padding: 5px;
	border-radius:50%;
	line-height: 25px;
}

.cerrar:hover{
	color:black;
	text-decoration: none;
};

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content-all{
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 100px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}
