body {
	background-color: silver;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 25px;
	padding-top: 25px;
}
#acceso-header {
	padding: 15px 0;
}
#acceso-header h1, #acceso-header h2 {
	margin: 0px;
	padding: 0px;
}
#headerlogo {
	color: #515151;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 6px!important;
}
#headerlogo span {
	color: #FF0000;
}
#acceso-header h1 {
	color: #555;
	font-size: 20px;
	font-weight: 300;
}
#acceso-header p {
	color: #666;
	margin-top: 5px;
}
#acceso-header p a {
	color: #FF0000;
}
.formulario {
	background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 10px;
	padding: 15px;
}
.formulario p.info {
	color: #666;
	font-size: 13px;
	padding: 8px 0;
}

.formulario button {
	background-color: #666;
	border: none;
	border-radius: 3px;
	color: #FFF;
	padding: 5px 10px;
}

#acceso button {
	width: 100%;
}
.footer-nav {
	margin-top: 15px;
	text-align: center;
}
.footer-nav a {
	color: #FF0000;
	text-decoration: none;
}
.footer-nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#toplink {
	margin-bottom: 15px;
	text-align: center;
}
#toplink a {
	background-color: #444;
	color: #FFF;
	padding: 5px 10px;
	text-decoration: none;
}

.aviso {
	border-radius: 8px;
	color: #FFF;
	margin-bottom: 8px;
	padding: 6px;
	text-align: center;
}
.aviso a {
	color: #FFF;
	font-size: 14px;
	text-decoration: underline;
}
.aviso-ok {
	background-color: #3DBF8A;
}
.aviso-error {
	background-color: #CF3636;
}